.card {
  background-color: var(--color-background-card);
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: var(--color-text);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
