.events {
  background-color: var(--color-background-card);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text);
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text);
  }
}
