.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-color);
  z-index: 1000;
  background-color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  img {
    width: 140px;
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}

.logoImage {
  width: 110px;
  height: 25px;
}

.dark {
  --text-color: var(--secondary-color);
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  // transition: background-color 0.3s ease-in-out;
}

.light {
  --text-color: var(--primary-color);
  background-color: var(--secondary-color);
  // transition: background-color 0.3s ease-in-out;
}
.themeToggle {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    cursor: pointer;
  }
}
