.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary); // ou qualquer cor escura
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  gap: 10px;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
}

.message {
  margin-top: 20px;
  min-height: 1.5rem;
  font-display: swap;
  font-size: 1.5rem;
  color: var(--color-accent-hover);
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.progressBar {
  width: 80%;
  height: 6px;
  margin: 20px auto 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--color-accent-hover),
    var(--color-secondary)
  );
  transition: width 0.5s ease;
}
.messageFinal {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent);
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
