.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  backdrop-filter: blur(4px);
}

.modal {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  @media (max-width: 768px) {
    max-width: 300px;
  }
}

.close {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--color-text);
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  cursor: pointer;

  @media (max-width: 768px) {
    top: 150px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.edit {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.danger {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
