.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .back {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: var(--color-white);

    background-color: var(--color-accent);
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-accent);
  }
}
